html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My css file below */
html {
    background: url('images/cockpit_view2.jpg') no-repeat center center fixed;
    background-size: cover;
}
@keyframes draw {
    from {opacity: 0; transform: translate3d(-900px,0px,0px);}
    to {opacity: 1; transform: translate3d(0px,0px,0px);}
}
.welcomeMessage {
    font-family: "Arial";
    margin-right: 60%;
    margin-top: 10%;
    text-align: right;
    padding: 15px;
    border-bottom-right-radius: 100px;
    color:  #00334d;
    box-shadow: 1px 1px 1px 2px black;
    background: rgba(255, 255, 255, .65);
    font-size: 30px;
    animation: draw 2.2s;
}
.sidebar ul {
    list-style: none;
    background: rgba(255, 255, 255, .65);

}
.sidebar li {
    display: inline-block;
}
.sidebar h1 {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 40px;
    animation: drawMenu 1.8s;
}
@keyframes drawMenu {
    from {opacity: 0;}
    to {opacity: 1;}
}
.sidebar nav a {
    font-family: "Arial";
    text-decoration: none;
    padding-right: 4%;
    padding: 4px;
    display: inline-block;
    font-size: 36px;
    border: 1px solid #a9a9a9;
    background: rgba(255,255,255,0.4);
    opacity: 0.8;
    float: left;
    animation: drawMenu 1.8s;
    color: #00334d;
}
.sidebar a:visited {
    color: #00334d;
}
.sidebar a:hover {
    opacity: 1;
    background: #a9a9a9;
    transition-duration: 0.5s;
}
.sidebar #home {
    margin-left: 15%;
}
.currentMissions {
    margin-top: 20px;
    width: 20%;
    height: auto;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px lightblue;
    display: block;
    background: rgba(255, 255, 255, .65);
    animation: drawMenu 1.8s;
}
.currentMissions h1 {
    margin: 2%;
    font-family: "Arial";
    font-size: 26px;
    color: #00334d;
}
.currentMissions #noMissions {
    font-family: "Arial";
    font-size: 18;
    color: darkred;
    margin: 2%;
}
.currentMissions #noCurrentMissions {
    font-family: "Arial";
    font-size: 18;
    color: green;
    margin: 2%;
}
.playerAircraft {
    background: rgba(255, 255, 255, .45);
    display: block;
    width: 30%;
    margin-top: -5%;
    height: 500px;
    overflow-y: scroll;
    padding: 4px 4px 4px 4px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightblue;
    float: right;
    animation: drawMenu 1.8s;
}
.playerAircraft h1 {
    font-size: 24px;
    font-style: oblique;
    font-family: "Arial Black";
}
.playerAircraft p {
    font-family: "Arial";
    font-size: 18px;
}
.playerAircraft h2 {
    font-size: 26px;
    color: #00334d;
    font-family: "Arial Black";
}
.playerAircraft hr #special {
    float: left;
}.statistics {
    display: block;
    width: 60%;
 }
 .firstChoose {
     background: rgba(255, 255, 255, .75);
     display: inline-block;
     width: 40%;
     margin: 20px 10px 20px 20px;
     height: 720px;
     overflow-y: hidden;
     padding: 4px 4px 4px 4px;
     border: 2px solid whitesmoke;
     box-shadow: 2px 2px 2px 2px lightblue;
     animation: drawMenu 1.8s;
 }
.firstChoose h1 {
    font-size: 22px;
    font-style: oblique;
    font-family: "Arial Black";
}
 .firstChoose button {
     width:100%;
     text-align: center;
     font-size: 30px;
     border-radius: 10px;
     opacity: 0.9;
     background-color: #FC8803;
 }
 .firstChoose button:hover {
     opacity:1;
 }
.firstChoose1 {
    background: rgba(255, 255, 255, .75);
    display: inline-block;
    width: 25%;
    margin: 20px 10px 20px 20px;
    height: 500px;
    overflow-y: scroll;
    padding: 4px 4px 4px 4px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightblue;
    animation: drawMenu 1.8s;
}
.firstChoose1 h1 {
    font-size: 24px;
    font-style: oblique;
    font-family: "Arial Black";
}
.firstChoose1 button {
    width:100%;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    opacity: 0.9;
    background-color: #FC8803;
}
.firstChoose1 button:hover {
    opacity:1;
}
 #aircraft {
    background: url('images/hangar.jpg') no-repeat center center fixed;
    background-size: cover;
}
 .aircraftWrap {
     float: left;
 }